<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<!-- Namespaces antes do JSF 2.2 - https://clairtonluz.github.io/blog/2014/03/2014032299.html 
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
 -->
 
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><ui:insert name="titulo">Sistema de Gestão Favet</ui:insert></title>
	<h:outputStylesheet library="css" name="sistema.css" />
</h:head>

<h:body>

	<p:ajaxStatus styleClass="ajax-status">
		<f:facet name="start">
			<h:graphicImage library="images" name="loading.gif" />
		</f:facet>
		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

	<header> 

	<div style="float: left">
		<h:link outcome="/Home">
		 <!-- 	<h:graphicImage library="images" name="ilovefavetblue.png" />  -->
		   <h:graphicImage library="images" name="logohospital2.jpg" />
		</h:link>
	</div>

	<h:link outcome="/Home">
	<div style="float: left; font-size: 20px; height: 30px; line-height: 30px; margin-left: 20px; font-weight: bold; color:#ffffff"> 
	         Hospital Veterinário HVSBC </div>
   </h:link>

	<div style="float: right; margin-right: 110px">
		<span
			style="float: left; height: 30px; line-height: 30px; margin-right: 60px; color:#ffffff">
			Olá #{seguranca.nomeUsuario}!   #{autenticadorBean.nomeConsultorioDaSessao} </span>

		<h:form style="display: inline-block">
			<p:menubar styleClass="menu-sistema">
				<p:submenu label="Cadastros" >
					<p:menuitem value="Produtos" rendered="false" />
					<p:menuitem value="Pesquisa Produtos" rendered="false"/>
					
					<p:separator />
					<p:menuitem value="Proprietários e Animais" 
						outcome="/proprietarios/Proprietarios" />
					<p:menuitem value="Pesquisa Animais" 
						outcome="/proprietarios/PesquisaProprietarios" />
						
					<p:menuitem value="Pesquisa Proprietários" 
						outcome="/proprietarios/PesquisaProprietariosSemAnimais" />					

                   <p:separator/>
                   
                   <p:menuitem value="Espécies" 
						outcome="/especies/Especies" />
					
					<p:menuitem value="Pesquisa Espécies" 
						outcome="/especies/PesquisaEspecies" />

                   <p:separator/>
                   
                   <p:menuitem value="Raças" 
						outcome="/racas/Racas" />
					
					<p:menuitem value="Pesquisa Raças" 
						outcome="/racas/PesquisaRacas" />

                   <p:separator/>
                   
                   <p:menuitem value="Veterinários" 
						outcome="/veterinarios/Veterinarios" />
					
					<p:menuitem value="Pesquisa Veterinários" 
						outcome="/veterinarios/PesquisaVeterinarios" />
											
				</p:submenu>
				
				<p:submenu label="Administração" rendered="#{autenticadorBean.administrador}">
					<p:menuitem value="Usuários" 
						outcome="/usuarios/Usuarios" />

					<p:menuitem value="Pesquisa Usuários" 
						outcome="/usuarios/PesquisaUsuarios" />
						
				</p:submenu>
				
				<p:submenu label="Operações Estoque" rendered="false">
					<p:menuitem value="Entrada de Mercadorias"
						outcome="/entradas/EntradaMercadorias" />
					<p:menuitem value="Pesquisa Entrada de Mercadorias"
						outcome="/entradas/PesquisaEntradaMercadorias" />
                    <p:separator />												
		
					<p:menuitem value="Manutenção de Estoque"
						outcome="/manutencoes/ManutencaoEstoques" />
					<p:menuitem value="Pesquisa Manutenção de Estoque"
						outcome="/manutencoes/PesquisaManutencaoEstoques" />

                    <p:separator />

					<p:menuitem value="Transferências"
						outcome="/transferencias/Transferencias" />
					<p:menuitem value="Pesquisa Transferências"
						outcome="/transferencias/PesquisaTransferencias" />
						
                    <p:separator />
				</p:submenu>

				<p:submenu label="Atendimentos">

					<p:menuitem value="Pesquisa Atendimentos (Geral)" 
					outcome="/atendimentospacientes/PesquisaAtendimentoPacientes" />

					<p:menuitem value="Lista de Espera (Exame)"
					rendered="#{seguranca.veterinarioUsuario.fazExames or seguranca.usuario.naoEhVeterinario}" 
					outcome="/atendimentospacientes/PesquisaListaEspera.xhtml?tipoatendimento=ultrassom" />

					<p:menuitem value="Lista de Espera (Cirúrgico)"
					rendered="#{seguranca.veterinarioUsuario.cirurgiao or seguranca.usuario.naoEhVeterinario}" 
					outcome="/atendimentospacientes/PesquisaListaEspera.xhtml?tipoatendimento=cirurgico" />
					
					<p:menuitem value="Lista de Espera (Clínico)" 
					rendered="#{seguranca.veterinarioUsuario.clinico or seguranca.usuario.naoEhVeterinario}"					
					outcome="/atendimentospacientes/PesquisaListaEspera.xhtml?tipoatendimento=clinico" />
					
					<p:menuitem value="Atendimento Farmácia" rendered="false"
						outcome="/atendimentos/AtendimentoMedicamentos" />
					<p:menuitem value="Pesquisa Atendimento de Medicamentos" rendered="false"
  					    outcome="/atendimentos/PesquisaAtendimentoMedicamentos" />
  					
				</p:submenu>
				<p:menuitem value="Sair" action="#{autenticadorBean.registraSaida}" />
			</p:menubar>
		</h:form>
	</div>
	<div style="clear: both"></div>
	</header>

	<div id="conteudo">
		<ui:insert name="corpo"></ui:insert>
	</div>

	<p:separator style="margin-top: 20px" />
	<footer> Faculdade de Veterinária - Favet - <a
		href="http://www.uece.br/favet/" target="_blank">www.uece.br/favet/</a>
	</footer>

</h:body>


</html>