<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->

    <ui:define name="titulo">Pesquisa de Raças</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">
    	  <!--  <p:focus context="frmPesquisa"/>  -->     

    	   <h1>Pesquisa de Raças</h1>
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaRacaBean.pesquisar}" update="@form" /> 
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/racas/Racas"
	    			 />
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="6" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">

	    		<p:outputLabel value="Nome da Espécie" for="nomeEspecie" />
	    		<p:inputText id="nomeEspecie" value="#{pesquisaRacaBean.filtro.nomeEspecie}" />

	    		<p:outputLabel value="Nome da Raça" for="nomeRaca" />
	    		<p:inputText id="nomeRaca" value="#{pesquisaRacaBean.filtro.nomeRaca}" />

            </p:panelGrid>
            
	    	<p:dataTable id="racaTable" value="#{pesquisaRacaBean.racasFiltradas}" var="raca"
		    		style="margin-top: 20px" emptyMessage="Nenhuma raça encontrada."
		    		rows="10" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
	    		
	    		<p:column headerText="Código" style="text-align: center; width: 100px">
	    			<h:outputText value="#{raca.id}"/>
	    		</p:column>

	    		<p:column headerText="Espécie">
	    			<h:outputText value="#{raca.especie.nome}"/>
	    		</p:column>	    		


	    		<p:column headerText="Raça">
	    			<h:outputText value="#{raca.nome}"/>
	    		</p:column>	    		

	    		<p:column headerText="Editar" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-pencil" title="Editar Raça" 
	    			       outcome="/racas/Racas">
	    				<f:param name="raca" value="#{raca.id}" />
	    			</p:button>
	    		</p:column>
	    	</p:dataTable>
            
    	</h:form>
    </ui:define>
</ui:composition>