<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="proprietario" value="#{cadastroProprietarioBean.proprietario}" />
		<f:event listener="#{cadastroProprietarioBean.inicializar}" type="preRenderView" />
	</f:metadata>

    <ui:define name="titulo">#{cadastroProprietarioBean.editando ? "Edição de Exames" : "Novo Exames"}</ui:define>
     
    <ui:define name="corpo">
    	<h:form id="frmCadastro">
    	    <p:focus context="frmCadastro"/>
    	   <h1>#{cadastroProprietarioBean.editando ? "Edição de Exames" : "Novo Exames"}</h1>	    	
	    	<!-- <p:messages autoUpdate="false" /> -->
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<ui:include src="/WEB-INF/template/exames/BotoesExames.xhtml" />
	    	
	    	<ui:include src="/WEB-INF/template/exames/CorpoExames.xhtml" />

          <div>	    	
	    	<p:tabView id="tabview" style="margin-top: 20px">
	    		<p:tab id="tabAnimais" title="Exames">
	    	       <ui:include src="/WEB-INF/template/exames/ExamesAnimal.xhtml" /> 		 
	    		</p:tab>
	    	</p:tabView>
	     </div>
	     
    	</h:form>
    </ui:define>
</ui:composition>