<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->

    <ui:define name="titulo">Pesquisa de Exames</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">
    	  <!--  <p:focus context="frmPesquisa"/>  -->     

    	   <h1>Pesquisa de Exames</h1>
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaAnimalBean.pesquisar}" update="@form" /> 
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">

	    		<p:outputLabel value="Laboratório" />
	    		<p:inputText size="40" value="#{pesquisaAnimalBean.filtro.codigoLegadoAnimal}" />	    		


	    		<p:outputLabel value="Código do Exame" />
	    		<p:inputText type="number" size="40" value="#{pesquisaAnimalBean.filtro.codigoLegadoAnimal}" />	    		

	    		<p:outputLabel value="CPF/CNPJ do Proprietário" />
	    		<p:inputText size="40" value="#{pesquisaAnimalBean.filtro.cpfCnpj}" />	    		

	    		<p:outputLabel value="Nome do Proprietário" />
	    		<p:inputText size="40" value="#{pesquisaAnimalBean.filtro.nomeProprietario}" />

	    		<p:outputLabel value="Código do Animal" />
	    		<p:inputText type="number" size="40" value="#{pesquisaAnimalBean.filtro.codigoAnimal}" />	    		

	    		<p:outputLabel value="Nome do Animal" />
	    		<p:inputText size="40" value="#{pesquisaAnimalBean.filtro.nomeAnimal}" />	    		

            </p:panelGrid>
            
	    	<p:dataTable id="animalTable" value="#{pesquisaAnimalBean.animaisFiltrados}" var="animal"
		    		style="margin-top: 20px" emptyMessage="Nenhum proprietário/animal encontrado."
		    		rows="20" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">

	    		<p:column headerText="Código" style="text-align: center; width: 100px">
	    			<h:outputText value="#{animal.id}"/>
	    		</p:column>

	    		<p:column headerText="Cod. Exame">
	    			<h:outputText value=""/>	    			
	    		</p:column>

	    		<p:column headerText="Lab.">
	    			<h:outputText value=""/>	    			
	    		</p:column>
	    		
	    		<p:column headerText="Proprietário">
	    			<h:outputText value="#{animal.proprietario.nome}"/>
	    		</p:column>	    		

	    		<p:column headerText="Cod. Animal">
	    			<h:outputText value="#{animal.id}"/>	    			
	    		</p:column>
	    		
	    		<p:column headerText="Animal">
	    			<h:outputText value="#{animal.nome}"/>
	    		</p:column>

	    		<p:column headerText="Espécie">
	    			<h:outputText value="#{animal.especie.nome}"/>
	    		</p:column>

	    		<p:column headerText="Raça">
	    			<h:outputText value="#{animal.raca.nome}"/>
	    		</p:column>

	    		<p:column headerText="Raça sem Cadastro">
	    			<h:outputText value="#{animal.racaSemCadastro}"/>
	    		</p:column>

	    		<p:column headerText="Cadastro de Exames" style="text-align: center; width: 100px">
	    			<p:button icon="ui-icon-tag" title="Cadastro de Exames" 
	    			       outcome="/exames/Exames">
	    				<f:param name="animal" value="#{animal.id}" />
	    			</p:button>
	    		</p:column>	    		
   		
	    	</p:dataTable>
            
	    	
    	</h:form>
    </ui:define>
</ui:composition>