<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->

    <ui:define name="titulo">Pesquisa de Veterinários</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">
    	  <!--  <p:focus context="frmPesquisa"/>  -->     

    	   <h1>Pesquisa de Veterinários</h1>
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaVeterinarioBean.pesquisar}" update="@form" /> 
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/veterinarios/Veterinarios"
	    			 />
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="6" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">

	    		<p:outputLabel value="CRMV" for="crmv" />
	    		<p:inputText id="crmv" value="#{pesquisaVeterinarioBean.filtro.crmv}" />

	    		<p:outputLabel value="Nome" for="nome" />
	    		<p:inputText id="nome" value="#{pesquisaVeterinarioBean.filtro.nome}" />

            </p:panelGrid>
            
	    	<p:dataTable id="veterinarioTable" value="#{pesquisaVeterinarioBean.veterinariosFiltrados}" var="veterinario"
		    		style="margin-top: 20px" emptyMessage="Nenhum veterinário encontrado."
		    		rows="10" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
	    		
	    		<p:column headerText="Código" style="text-align: center; width: 100px">
	    			<h:outputText value="#{veterinario.id}"/>
	    		</p:column>

	    		<p:column headerText="CRMV">
	    			<h:outputText value="#{veterinario.crmv}"/>
	    		</p:column>

	    		<p:column headerText="Nome">
	    			<h:outputText value="#{veterinario.nome}"/>
	    		</p:column>	    		

	    		<p:column headerText="E-mail">
	    			<h:outputText value="#{veterinario.email}"/>	    			
	    		</p:column>

	    		<p:column headerText="Atend. Clínico">
	    			<h:outputText value="#{veterinario.clinico? 'Sim' : 'Não'}"/>	    			
	    		</p:column>

	    		<p:column headerText="Atend. Cirúrgico">
	    			<h:outputText value="#{veterinario.cirurgiao? 'Sim' : 'Não'}"/>	    			
	    		</p:column>
	    		
	    		<p:column headerText="Atend. Laudos (Ultrason)">
	    			<h:outputText value="#{veterinario.fazExames? 'Sim' : 'Não'}"/>	    			
	    		</p:column>	    		
	    		
	    		<p:column headerText="Ativo">
	    			<h:outputText value="#{veterinario.ativo?'Sim':'Não'}"/>	    			
	    		</p:column>

	    		<p:column headerText="Editar" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-pencil" title="Editar Veterinário" 
	    			       outcome="/veterinarios/Veterinarios">
	    				<f:param name="veterinario" value="#{veterinario.id}" />
	    			</p:button>
	    		</p:column>
	    	</p:dataTable>
            
    	</h:form>
    </ui:define>
</ui:composition>