<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px"
		columnClasses="rotulo, campo, rotulo, campo">
		
		<p:outputLabel value="Código" for="codigo"/>
			<h:outputText id="codigo" value="#{cadastroVeterinarioBean.veterinario.id}" />

		<p:outputLabel value="CRMV" for="crmv"/>
		<p:inputText type="text" id="crmv" size="20" maxlength="20"
		        value="#{cadastroVeterinarioBean.veterinario.crmv}">
		</p:inputText>

		<p:outputLabel value="Nome" for="nome"/>
		<p:inputText type="text" id="nome" required="true" size="50" maxlength="80"
		        value="#{cadastroVeterinarioBean.veterinario.nome}">
		</p:inputText>

		<p:outputLabel value="E-mail" for="email" />
		<p:inputText type="text" id="email" size="50" maxlength="100"
		        value="#{cadastroVeterinarioBean.veterinario.email}">
		</p:inputText>

		<p:outputLabel value="Telefone" />
		<p:inputMask id="telefone" value="#{cadastroVeterinarioBean.veterinario.telefone}"
		       mask="(99)  9999-9999"  maxlength="11">
		</p:inputMask>
		
		<p:outputLabel value="Celular" />
		<p:inputMask id="celular" value="#{cadastroVeterinarioBean.veterinario.celular}"
		       mask="(99) 99999-9999" maxlength="11">
		</p:inputMask>
  	    
		<p:outputLabel value="Atend. Clínico" />
        <p:selectBooleanCheckbox itemLabel=""
			value="#{cadastroVeterinarioBean.veterinario.clinico}">
  	    </p:selectBooleanCheckbox>

		<p:outputLabel value="Atend. Cirúrgico" />
        <p:selectBooleanCheckbox itemLabel=""
			value="#{cadastroVeterinarioBean.veterinario.cirurgiao}">
  	    </p:selectBooleanCheckbox>

		<p:outputLabel value="Atend. Laudos (Ultrason)" />
        <p:selectBooleanCheckbox itemLabel=""
			value="#{cadastroVeterinarioBean.veterinario.fazExames}">
  	    </p:selectBooleanCheckbox>

		<p:outputLabel value="Ativo" />
        <p:selectBooleanCheckbox itemLabel=""
			value="#{cadastroVeterinarioBean.veterinario.ativo}">
  	    </p:selectBooleanCheckbox>

	</p:panelGrid>

</ui:composition>