<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

   <!--  ="#{cadastroProprietarioBean.proprietario.existente}" -->
    <p:commandButton disabled="#{cadastroProprietarioBean.proprietario.novo}" value="Novo animal" style="width: auto" 
							oncomplete="PF('novoAnimalDialog').show()"
							action="#{cadastroProprietarioBean.novoAnimal}"
							process="@this" update="frmCadastro:tabview:novoAnimalDialog">
							<p:resetInput target="frmCadastro:tabview:novoAnimalDialog" />
	</p:commandButton>
   <h:outputText value="Será habilitado após salvar o proprietário." rendered="#{cadastroProprietarioBean.proprietario.novo}" 
         id="avisoBotaoNovoAnimal" style="width: 100%; margin-left: 10px" />

    <div>
    
	<p:dataTable value="#{cadastroProprietarioBean.proprietario.animais}" style="width: 100%; margin-top: 10px" 
	         var="animal" id="tabelaAnimais">

		<p:column headerText="Cod. Proprietario" style="text-align: center; width: 100px" rendered="false">
			<h:outputText value="#{animal.proprietario.id}" id="proprietario_id" />
        </p:column>

		<p:column headerText="Cod. Animal" style="text-align: center; width: 100px">
			<h:outputText value="#{animal.id}" id="id" />
        </p:column>
        					
		<p:column headerText="Nome">
		   <h:outputText value="#{animal.nome}" id="nome"/>
        </p:column>
        
		<p:column headerText="Cod. Legado">
		   <h:outputText value="#{animal.codigoLegado}"/>
        </p:column>
        
		<p:column headerText="Nascimento" style="text-align: center; width: 100px">
		   <h:outputFormat  id="dataNascimento" value="#{animal.dataNascimento}">
		      <f:convertDateTime pattern="dd/MM/yyyy" />
		   </h:outputFormat>
		</p:column>
		 
		<p:column headerText="Sexo">
		   <h:outputText value="#{animal.sexo}"/>
        </p:column>
        
		<p:column headerText="Espécie">
		   <h:outputText value="#{animal.especie.nome}"/>
        </p:column>

		<p:column headerText="Raça">
		   <h:outputText value="#{animal.raca.nome}"/>
        </p:column>
        
		<p:column headerText="Desc. Raça">  
		   <h:outputText value="#{animal.racaSemCadastro}" rendered="#{animal.ehRacaSemCadastro}" />
        </p:column>
        
		<p:column headerText="Peso">
	        <h:outputText value="#{animal.peso}"/> 
        </p:column>
        
		<p:column headerText="Óbito">
		   <h:outputText value="#{animal.obito?'Sim':'Não'}"/>
        </p:column>

   		<p:column headerText="Editar" style="text-align: center; width: 50px">
		    <p:commandButton icon="ui-icon-pencil" 
					oncomplete="PF('novoAnimalDialog').show()"
					action="#{cadastroProprietarioBean.editarAnimal(animal)}"
					process="@this" update="frmCadastro:tabview:novoAnimalDialog">
					<p:resetInput target="frmCadastro:tabview:novoAnimalDialog" />
			</p:commandButton>
   		</p:column>

   		<p:column headerText="Excluir" style="text-align: center; width: 50px">
              <p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="PF('confirmacaoExclusao').show()"
		    			process="@this" update="frmCadastro:tabview:confirmacaoExclusaoDialog">
	    			<f:setPropertyActionListener target="#{cadastroProprietarioBean.animalSelecionado}" 
	    				value="#{animal}" />
	    			</p:commandButton>
   		</p:column>

   		<p:column headerText="Criar Atendendimento" style="text-align: center; width: 100px"
   		      rendered="#{!cadastroProprietarioBean.usuarioVeterinario}">
   			<p:button icon="ui-icon-suitcase" title="Novo Atendimento"
   			          disabled="#{cadastroProprietarioBean.usuarioVeterinario}" 
   			       outcome="/atendimentospacientes/AtendimentoPacientes">
   				<f:param name="animal" value="#{animal.id}" />
   			</p:button>
   		</p:column>

   		<p:column headerText="Prontuário" style="text-align: center; width: 100px">
				<p:commandButton value="Emitir" action="#{relatorioDadosAnimalBean.emitir(animal.id)}"
					    				ajax="false" />
   		</p:column>


	</p:dataTable>
    </div>
    
	    <p:confirmDialog header="Exclusão de animal" 
    		message="Tem certeza que deseja excluir o animal #{cadastroProprietarioBean.animalSelecionado.nome}?"
    		widgetVar="confirmacaoExclusao"	id="confirmacaoExclusaoDialog">
    		<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;" />
    		<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide();"
    			action="#{cadastroProprietarioBean.excluirAnimal}" process="@this"
    			update="frmCadastro:tabview:tabelaAnimais novoAnimalPanel" />
    	</p:confirmDialog>

       <!-- ####### INICIO DIALOG  DE CRIAÇÃO E EDIÇÃO DE ANIMAIS ####### -->
    	<p:dialog widgetVar="novoAnimalDialog" id="novoAnimalDialog" modal="true"
		header="Novo Animal" resizable="false" responsive="true">

		<h:panelGroup id="novoAnimalPanel" layout="block" >
		   
			<p:panelGrid columns="4" style="width: 100%; margin-top: 20px"
      		columnClasses="rotulo, campo, rotulo, campo">

				<p:outputLabel value="Código" />
					<h:outputText value="#{cadastroProprietarioBean.animalEdicao.id}" id="animal_id" />
		
				<p:outputLabel value="Nome" />
				<p:inputText type="text" id="nomeAnimal" size="30" maxlength="100"
				        value="#{cadastroProprietarioBean.animalEdicao.nome}">
				</p:inputText>
				
		       <p:outputLabel value="Cód. Legado" />
				<p:inputText type="number" id="codLegadoAnimal" size="30" maxlength="10"
				        value="#{cadastroProprietarioBean.animalEdicao.codigoLegado}">
				</p:inputText>

		       <p:outputLabel value="Nascimento" />
  			   <p:calendar id="dataNascimento" value="#{cadastroProprietarioBean.animalEdicao.dataNascimento}" pattern="dd/MM/yyyy">
			   </p:calendar>

		        <p:outputLabel for="sexo" value="sexo:" />
		        <p:selectOneMenu id="sexo" value="#{cadastroProprietarioBean.animalEdicao.sexo}" >
					<f:selectItem itemLabel="Selecione um sexo" />		        
		            <f:selectItem itemLabel="Macho" itemValue="M" />
		            <f:selectItem itemLabel="Fêmea" itemValue="F" />
		        </p:selectOneMenu>

				<p:outputLabel value="Especie" for="especie" />
				<p:selectOneMenu id="especie" value="#{cadastroProprietarioBean.animalEdicao.especie}" rendered="#{cadastroProprietarioBean.cadastrandoAnimal}">
					<f:selectItem itemLabel="Selecione uma espécie" />
 				     <f:selectItems value="#{cadastroProprietarioBean.especies}" var="especie" 
					   itemValue="#{especie}" itemLabel="#{especie.nome}"/>
   				     <p:ajax listener="#{cadastroProprietarioBean.carregarRacasPorEspecie()}" update="raca" />					   
				</p:selectOneMenu>		

				<p:outputLabel value="Raça" for="raca" />
				<p:selectOneMenu id="raca" value="#{cadastroProprietarioBean.animalEdicao.raca}">
					<f:selectItem itemLabel="Selecione uma raça" />
 				     <f:selectItems value="#{cadastroProprietarioBean.racas}" var="raca" 
					   itemValue="#{raca}" itemLabel="#{raca.nome}"/>
				</p:selectOneMenu>
				
		       <p:outputLabel value="Espécie - Raça (Sem Cadastro)" />
				<p:inputText type="text" id="racaSemCadastro" size="30" maxlength="40"
				        value="#{cadastroProprietarioBean.animalEdicao.racaSemCadastro}">
				</p:inputText>				

		 		<p:outputLabel value="Peso" />
				<p:inputText type="number" id="peso"  
				     value="#{cadastroProprietarioBean.animalEdicao.peso}"/>

                  <p:selectBooleanCheckbox itemLabel="Castrado"
								value="#{cadastroProprietarioBean.animalEdicao.castrado}">
				 </p:selectBooleanCheckbox>
 
                   <p:selectBooleanCheckbox itemLabel="Pedigree"
								value="#{cadastroProprietarioBean.animalEdicao.pedigree}">
				 </p:selectBooleanCheckbox>
 
                   <p:selectBooleanCheckbox itemLabel="Óbito"
								value="#{cadastroProprietarioBean.animalEdicao.obito}">
				 </p:selectBooleanCheckbox>
			</p:panelGrid>
			
         
          <div>	    	
	    	<p:tabView id="tabviewAnimal" style="margin-top: 20px">
	    		<p:tab id="tabObservacaoAnimal" title="Observação">
  			        <p:outputLabel value="Observação" />
				    <p:inputTextarea rows="10" style="width: 100%"
				      id="obsercacaoAnimal" value="#{cadastroProprietarioBean.animalEdicao.observacao}" />
	    		</p:tab>
	    		<p:tab id="tabVacinasAnimais" title="Vacinas">
	    		   <h3>Em desenvolvimento</h3>
	    		</p:tab>	    		
	    	</p:tabView>
	     </div>
	     		
	    		<p:commandButton value="Adicionar" process="novoAnimalDialog" rendered="#{cadastroProprietarioBean.animalEdicao.novo}"
	    			update="frmCadastro:tabview:tabelaAnimais novoAnimalPanel"
	    		     oncomplete="if (!args.validationFailed) PF('novoAnimalDialog').hide()"
	    			action="#{cadastroProprietarioBean.adicionarAnimal}"  />
	     		
	    		<p:commandButton value="Alterar" process="novoAnimalDialog" rendered="#{cadastroProprietarioBean.animalEdicao.existente}"
	    			update="frmCadastro:tabview:tabelaAnimais novoAnimalPanel"
	    		     oncomplete="if (!args.validationFailed) PF('novoAnimalDialog').hide()"
	    			action="#{cadastroProprietarioBean.alterarAnimal}"  />
	     		
				<p:commandButton value="Cancelar" onclick="PF('novoAnimalDialog').hide()" />
				
		</h:panelGroup>
		
	</p:dialog>    
	
       <!-- ####### FIM DIALOG  DE CRIAÇÃO E EDIÇÃO DE ANIMAIS ####### -->
       
</ui:composition>