<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->

    <ui:define name="titulo">Pesquisa de Proprietarios</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">
    	  <!--  <p:focus context="frmPesquisa"/>  -->     

    	   <h1>Pesquisa de Proprietarios/Animais</h1>
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaProprietarioSemAnimalBean.pesquisar}" update="@form" /> 
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/proprietarios/Proprietarios"
	    			 />
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">

	    		<p:outputLabel value="CPF/CNPJ do Proprietário" />
	    		<p:inputText size="40" value="#{pesquisaProprietarioSemAnimalBean.filtro.cpfCnpj}" />	    		

	    		<p:outputLabel value="Nome do Proprietário" />
	    		<p:inputText size="40" value="#{pesquisaProprietarioSemAnimalBean.filtro.nomeProprietario}" />

            </p:panelGrid>
            
	    	<p:dataTable id="proprietarioTable" value="#{pesquisaProprietarioSemAnimalBean.proprietariosFiltrados}" var="proprietario"
		    		style="margin-top: 20px" emptyMessage="Nenhum proprietário encontrado."
		    		rows="20" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
	    	
	    		<p:column headerText="Código" style="text-align: center; width: 100px">
	    			<h:outputText value="#{proprietario.id}"/>
	    		</p:column>

 	    		<p:column headerText="CPF/CNPJ">
	    			<h:outputText value="#{proprietario.cpfCnpj}"/>
	    		</p:column>

	    		<p:column headerText="Nome">
	    			<h:outputText value="#{proprietario.nome}"/>
	    		</p:column>	    		

	    		<p:column headerText="Editar" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-pencil" title="Editar Proprietário" 
	    			       outcome="/proprietarios/Proprietarios">
	    				<f:param name="proprietario" value="#{proprietario.id}" />
	    			</p:button>
	    		</p:column>

	    	</p:dataTable>
            
    	</h:form>
    </ui:define>
</ui:composition>