<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:panelGroup layout="block" style="padding-right: 10px">

         <!-- <h:outputLabel value="O template para Laudos será carregado após Iniciar o atendimento"
            rendered="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.emEspera}"/>  -->
 
          <p:outputLabel value="***** O template para Laudos será carregado após Iniciar o atendimento *****" style="margin-top:20px;background-color: #FF0000;color: #fff;font-size: 16px;" rendered="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.emEspera}" />
 
		<p:editor id="editorLaudoUltrassom" 
			widgetVar="editorLaudoUltrassom" height="300" style="margin-bottom:10px"
			value="#{cadastroAtendimentoPacienteBean.atendimentoPaciente.laudoUltrassom}" 
			rendered="#{!cadastroAtendimentoPacienteBean.atendimentoPaciente.emEspera}"/>

	</h:panelGroup>

</ui:composition>