<ui:composition template="/WEB-INF/template/LayoutPadrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">    
    
    <!-- xmlns:o="http://omnifaces.org/ui" -->
    
	<f:metadata>
		<f:event listener="#{pesquisaAtendimentoPacienteBean.pesquisarEmEspera}" type="preRenderView" />
	</f:metadata>    

    <ui:define name="titulo">"Pesquisa Atendimentos de Pacientes"</ui:define>
    
    <ui:define name="corpo">
    
    	<h:form id="frmPesquisa">

    	   <h1>Pesquisa Atendimentos de Pacientes</h1>

	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" action="#{pesquisaAtendimentoPacienteBean.pesquisarEmEspera}" update="@form" /> 
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    		</p:toolbarGroup>
	    	</p:toolbar>	    	
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">

      		<p:outputLabel value="Data de Criação" />
	    		<h:panelGroup>
	    			<p:calendar size="10" pattern="dd/MM/yyyy" readonly="true"
	    				value="#{pesquisaAtendimentoPacienteBean.filtro.dataAtendimentoDe}" />
	    			a
	    			<p:calendar size="10" pattern="dd/MM/yyyy" readonly="true"
	    				value="#{pesquisaAtendimentoPacienteBean.filtro.dataAtendimentoAte}" />
	    		</h:panelGroup>

	    		<p:outputLabel value="Status" />
	    		<p:selectOneRadio value="#{pesquisaAtendimentoPacienteBean.filtro.statusEmEspera}">
	    		    <f:selectItem itemLabel="Em Espera" itemValue="ESPERA" />
	    		</p:selectOneRadio>
	    		
	    		<p:outputLabel value="Tipo Atendimento" />
	    		<p:selectManyCheckbox disabled="true" 
	    		        value="#{pesquisaAtendimentoPacienteBean.filtro.tiposAtendimentos}">
	    			<f:selectItems value="#{pesquisaAtendimentoPacienteBean.tiposAtendimentos}" var="tipoAtendimento"
	    				itemValue="#{tipoAtendimento}" itemLabel="#{tipoAtendimento.descricao}" />
	    		</p:selectManyCheckbox>
            </p:panelGrid>
            
	    	<p:dataTable id="atendimentoTable" value="#{pesquisaAtendimentoPacienteBean.atendimentosFiltrados}" var="atendimento"
		    		style="margin-top: 20px" emptyMessage="Nenhum atendimento encontrado."
		    		rows="20" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom">
		    
				<p:column headerText="Data Criação" style="text-align: center; width: 80px">
				   <h:outputFormat  id="data" value="#{atendimento.dataHoraCriacao}">
				      <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				   </h:outputFormat>
				</p:column>

	    		<p:column headerText="Atend." style="text-align: center; width: 30px">
	    			<h:outputText value="#{atendimento.id}"/>
	    		</p:column>

	    		<p:column headerText="Senha" style="text-align: center; width: 40px">
	    			<h:outputText value="#{atendimento.senha}"/>
	    		</p:column>

	    		<p:column headerText="Prioritário" style="text-align: center; width: 60px">
	    			<h:outputText value="#{atendimento.nomePrioritario}" />
	    		</p:column>
<!--
	    		<p:column headerText="Resumo" style="text-align: center; width: 100px">
	    			<h:outputText value="#{atendimento.resumo}"/>
	    		</p:column>
-->
	    		<p:column headerText="Status" style="text-align: center; width: 70px">
	    			<h:outputText value="#{atendimento.status.descricao}"/>
	    		</p:column>	    		

	    		<p:column headerText="Tipo" style="text-align: center; width: 50px">
	    			<h:outputText value="#{atendimento.tipoAtendimentoPaciente.descricao}"/>
	    		</p:column>
	    		
	    		<p:column headerText="Veterinário" style="text-align: center; width: 80px">
	    			<h:outputText value="#{atendimento.veterinario.nome}"/>
	    		</p:column>
	    		
	    		<p:column headerText="Consultório" style="text-align: center; width: 80px">
	    			<h:outputText value="#{atendimento.consultorio.nome}"/>
	    		</p:column>
	    		
	    		<p:column headerText="Cod. Animal" style="text-align: center; width: 40px">
	    			<h:outputText value="#{atendimento.animal.id}"/>	    			
	    		</p:column>
	    		
	    		<p:column headerText="Cod. Legado Animal" style="text-align: center; width: 50px">
	    			<h:outputText value="#{atendimento.animal.codigoLegado}"/>	    			
	    		</p:column>	    		

	    		<p:column headerText="Animal" style="text-align: center; width: 50px">
	    			<h:outputText value="#{atendimento.animal.nome}"/>
	    		</p:column>

	    		<p:column headerText="Proprietário" style="text-align: center; width: 80px">
	    			<h:outputText value="#{atendimento.animal.proprietario.nome}"/>
	    		</p:column>	    		
	    		
	    		<p:column headerText="Espécie" style="text-align: center; width: 70px">
	    			<h:outputText value="#{atendimento.animal.especie.nome}"/>
	    		</p:column>

<!-- 
	    		<p:column headerText="Raça" style="text-align: center; width: 70px">
	    			<h:outputText value="#{atendimento.animal.raca.nome}"/>
	    		</p:column>
 -->
	    		<p:column headerText="Editar" style="text-align: center; width: 50px">
	    			<p:button icon="ui-icon-pencil" title="Editar Atendimento"
    			 	       disabled="#{pesquisaAtendimentoPacienteBean.usuarioNaoPodeAtender(atendimento.tipoAtendimentoPaciente)}"	    			
	    			       outcome="/atendimentospacientes/AtendimentoPacientes">
	    				<f:param name="atendimentoPaciente" value="#{atendimento.id}" />
	    			</p:button>
	    		</p:column>

	    		<p:column headerText="Atender" style="text-align: center; width: 70px">
	    		    <p:outputLabel value="vide Tipo de Atendimento"
 						rendered="#{pesquisaAtendimentoPacienteBean.usuarioNaoPodeAtender(atendimento.tipoAtendimentoPaciente)}" >
 					</p:outputLabel>	    		
	    			<p:button icon="ui-icon-suitcase" title="Atender"
  	    		           rendered="#{pesquisaAtendimentoPacienteBean.usuarioPodeAtender(atendimento.tipoAtendimentoPaciente)}"
	    			       outcome="/atendimentospacientes/AtendimentoPacientes">
	    				    <f:param name="atendimentoPaciente" value="#{atendimento.id}" /> 
	    			</p:button>
	    		</p:column>

	    	</p:dataTable>
	    	
    	</h:form>
    </ui:define>
</ui:composition>