<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px"
		columnClasses="rotulo, campo, rotulo, campo">
		
		<p:outputLabel value="Código" />
			<h:outputText value="#{cadastroProprietarioBean.proprietario.id}" />

		<p:outputLabel value="Nome" />
		<p:inputText type="text" id="nome" required="true" size="50" maxlength="100"
		        value="#{cadastroProprietarioBean.proprietario.nome}">
		</p:inputText>
		
		<p:outputLabel value="CPF/CNPJ (apenas números)" />
		<p:inputText type="number" id="cpfCnpj" required="true" 
		     value="#{cadastroProprietarioBean.proprietario.cpfCnpj}"/>
		
		<p:outputLabel value="E-mail" />
		<p:inputText type="text" id="email" size="50" maxlength="100"
		        value="#{cadastroProprietarioBean.proprietario.email}">
		</p:inputText>
		
		<p:outputLabel value="Telefone" />
		<p:inputMask id="telefone" value="#{cadastroProprietarioBean.proprietario.telefone}"
		       mask="(99)  9999-9999"  maxlength="11">
		</p:inputMask>
		
		<p:outputLabel value="Celular" />
		<p:inputMask id="celular" value="#{cadastroProprietarioBean.proprietario.celular}"
		       mask="(99) 99999-9999" maxlength="11">
		</p:inputMask>

	</p:panelGrid>

</ui:composition>