<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

    <p:commandButton value="Novo exame" style="width: auto" 
							oncomplete="PF('novoExameDialog').show()"
							action="#{cadastroProprietarioBean.novoAnimal}"
							process="@this" update="frmCadastro:tabview:novoExameDialog">
							<p:resetInput target="frmCadastro:tabview:novoExameDialog" />
	</p:commandButton>
   <h:outputText value="Será habilitado após salvar o proprietário." rendered="#{cadastroProprietarioBean.proprietario.novo}" 
         id="avisoBotaoNovoAnimal" style="width: 100%; margin-left: 10px" />

    <div>
    
	<p:dataTable value="#{cadastroProprietarioBean.proprietario.animais}" style="width: 100%; margin-top: 10px" 
	         var="animal" id="tabelaAnimais">

		<p:column headerText="Cod. Animal" style="text-align: center; width: 100px">
			<h:outputText value="#{animal.id}" id="id" />
        </p:column>
        					
		<p:column headerText="Nome">
		   <h:outputText value="#{animal.nome}" id="nome"/>
        </p:column>
        
		<p:column headerText="Cod. Legado">
		   <h:outputText value="#{animal.codigoLegado}"/>
        </p:column>
        
		<p:column headerText="Nascimento" style="text-align: center; width: 100px">
		   <h:outputFormat  id="dataNascimento" value="#{animal.dataNascimento}">
		      <f:convertDateTime pattern="dd/MM/yyyy" />
		   </h:outputFormat>
		</p:column>
		 
		<p:column headerText="Sexo">
		   <h:outputText value="#{animal.sexo}"/>
        </p:column>
        
		<p:column headerText="Espécie">
		   <h:outputText value="#{animal.especie.nome}"/>
        </p:column>

		<p:column headerText="Raça">
		   <h:outputText value="#{animal.raca.nome}"/>
        </p:column>
        
		<p:column headerText="Desc. Raça">  
		   <h:outputText value="#{animal.racaSemCadastro}" rendered="#{animal.ehRacaSemCadastro}" />
        </p:column>
        
		<p:column headerText="Peso">
	        <h:outputText value="#{animal.peso}"/> 
        </p:column>
        
		<p:column headerText="Óbito">
		   <h:outputText value="#{animal.obito?'Sim':'Não'}"/>
        </p:column>

   		<p:column headerText="Editar" style="text-align: center; width: 50px">
		    <p:commandButton icon="ui-icon-pencil" 
					oncomplete="PF('novoExameDialog').show()"
					action="#{cadastroProprietarioBean.editarAnimal(animal)}"
					process="@this" update="frmCadastro:tabview:novoExameDialog">
					<p:resetInput target="frmCadastro:tabview:novoExameDialog" />
			</p:commandButton>
   		</p:column>

   		<p:column headerText="Excluir" style="text-align: center; width: 50px">
              <p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="PF('confirmacaoExclusao').show()"
		    			process="@this" update="frmCadastro:tabview:confirmacaoExclusaoDialog">
	    			<f:setPropertyActionListener target="#{cadastroProprietarioBean.animalSelecionado}" 
	    				value="#{animal}" />
	    			</p:commandButton>
   		</p:column>

   		<p:column headerText="Criar Atendendimento" style="text-align: center; width: 100px"
   		      rendered="#{!cadastroProprietarioBean.usuarioVeterinario}">
   			<p:button icon="ui-icon-suitcase" title="Novo Atendimento"
   			          disabled="#{cadastroProprietarioBean.usuarioVeterinario}" 
   			       outcome="/atendimentospacientes/AtendimentoPacientes">
   				<f:param name="animal" value="#{animal.id}" />
   			</p:button>
   		</p:column>

   		<p:column headerText="Prontuário" style="text-align: center; width: 100px">
				<p:commandButton value="Emitir" action="#{relatorioDadosAnimalBean.emitir(animal.id)}"
					    				ajax="false" />
   		</p:column>


	</p:dataTable>
    </div>
    
	    <p:confirmDialog header="Exclusão de animal" 
    		message="Tem certeza que deseja excluir o animal #{cadastroProprietarioBean.animalSelecionado.nome}?"
    		widgetVar="confirmacaoExclusao"	id="confirmacaoExclusaoDialog">
    		<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;" />
    		<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide();"
    			action="#{cadastroProprietarioBean.excluirAnimal}" process="@this"
    			update="frmCadastro:tabview:tabelaAnimais novoExamePanel" />
    	</p:confirmDialog>

       <!-- ####### INICIO DIALOG  DE CRIAÇÃO E EDIÇÃO DE ANIMAIS ####### -->
    	<p:dialog widgetVar="novoExameDialog" id="novoExameDialog" modal="true"
		header="Novo Exame" resizable="false" responsive="true">

		<h:panelGroup id="novoExamePanel" layout="block" >
		   
			<p:panelGrid columns="4" style="width: 100%; margin-top: 20px"
      		columnClasses="rotulo, campo, rotulo, campo">

				<p:outputLabel value="Código Sistema" for="exame_id"/>
				<h:outputText value="234" id="exame_id" />

				<p:outputLabel value="Controle Lab." for="exame_id_lab"/>
				<h:inputText value="" id="exame_id_lab" />

				<p:outputLabel value="Veterinário Solicitante" for="vetsol" />
				<h:outputText value="Dr. Pet" id="vetsol"/>

				<p:outputLabel value="Responsável" for="resp" />
				<h:inputText value="" id="resp"/>

		       <p:outputLabel value="Data da Coleta" for="coleta"/>
				<h:outputText value="23/05/2017" id="coleta" />

		       <p:outputLabel value="Solicitação" for="solicitacao"/>
				<h:outputText value="23/05/2017" id="solicitacao" />
				
		       <p:outputLabel value="Processamento" for="processamento" />
				<h:outputText value="24/05/2017" id="processamento" />

		       <p:outputLabel value="Conclusão" for="conclusao" />
				<h:outputText value="24/05/2017" id="conclusao" />

                 <p:selectBooleanCheckbox itemLabel="coagulado"
								value="false">
				 </p:selectBooleanCheckbox>

				<p:outputLabel value="Laboratório" for="lab" />
				<p:selectOneMenu id="lab" >
					<f:selectItem itemLabel="Selecione um Laboratório" />
					<f:selectItem itemLabel="Lab. de Patologia Clínica" />
					<f:selectItem itemLabel="Lab. de Patologia Veterinária" />
				</p:selectOneMenu>		


			</p:panelGrid>
			
    		<p:panelGrid columns="2" style="width: 100%; margin-top: 20px"
      		columnClasses="rotulo, campo, rotulo, campo">

  			    <p:outputLabel value="Tipo de Exame" for="especie" />
				<p:selectManyCheckbox id="especie" required="true" layout="pageDirection" >
					<f:selectItem itemLabel="Hematologia - Hemograma" itemValue="1" />
					<f:selectItem itemLabel="Hematologia - Leucograma" itemValue="2" />
					<f:selectItem itemLabel="Hematologia - Coagulograma" itemValue="3"/>
					<f:selectItem itemLabel="Bioquímica - Bioquímica do Sangue"	itemValue="4" />
				</p:selectManyCheckbox>		

			</p:panelGrid>
			
	    		<p:commandButton value="Salvar" process="novoExameDialog" 
	    			update="frmCadastro:tabview:tabelaAnimais novoExamePanel"
	    		     oncomplete="if (!args.validationFailed) PF('novoExameDialog').hide()" />
	     		
				<p:commandButton value="Cancelar" onclick="PF('novoExameDialog').hide()" />
				
		</h:panelGroup>
		
	</p:dialog>    
	
       <!-- ####### FIM DIALOG  DE CRIAÇÃO E EDIÇÃO DE ANIMAIS ####### -->
       
</ui:composition>