<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="2" style="width: 100%; margin-top: 20px"
		columnClasses="rotulo, campo, rotulo, campo">
		
		<p:outputLabel value="Código" for="codigo"/>
			<h:outputText id="codigo" value="#{cadastroRacaBean.raca.id}" />

		<p:outputLabel value="Especie" for="especie" />
		<p:selectOneMenu id="especie" value="#{cadastroRacaBean.raca.especie}" required="true">
			<f:selectItem itemLabel="Selecione uma espécie" />
			     <f:selectItems value="#{cadastroRacaBean.especies}" var="especie" 
			   itemValue="#{especie}" itemLabel="#{especie.nome}"/>
		</p:selectOneMenu>		

		<p:outputLabel value="Nome" for="nome"/>
		<p:inputText type="text" id="nome" required="true" size="50" maxlength="100"
		        value="#{cadastroRacaBean.raca.nome}">
		</p:inputText>

		<h:outputLabel value="Tipo Porte" for="tipoPorte"/>
		<p:selectOneMenu id="tipoPorte" value="#{cadastroRacaBean.raca.tipoPorte}">
		  <f:selectItem itemLabel="Selecione um tipo de porte" />		
		  <f:selectItems value="#{cadastroRacaBean.tipoPorte}" var="tipoPorte"
			   itemValue="#{tipoPorte}" itemLabel="#{tipoPorte.descricao}"/>
		</p:selectOneMenu>        


	</p:panelGrid>

</ui:composition>